---
// src/components/BannerWithCards.astro
import SanityImage from './SanityImage.astro';
import { createClient } from '@sanity/client';
import imageUrlBuilder from '@sanity/image-url';
import { Image } from 'astro:assets';

// Importar los iconos de las tarjetas directamente
import cardIcon1 from '../assets/images/NUM-PASO1.webp';
import cardIcon2 from '../assets/images/NUM-PASO2.webp';
import cardIcon3 from '../assets/images/NUM-PASO3.webp';

const sanityClient = createClient({
  projectId: import.meta.env.PUBLIC_SANITY_PROJECT_ID,
  dataset: import.meta.env.PUBLIC_SANITY_DATASET,
  useCdn: false,
  apiVersion: '2024-06-10',
});

const builder = imageUrlBuilder(sanityClient);

function urlFor(source) {
  return builder.image(source);
}

const {
  title,
  backgroundImage,
  cards, // Array de 3 tarjetas con { description }
  bottomIcon,
} = Astro.props;

const cardIcons = [cardIcon1, cardIcon2, cardIcon3];
---

<section
  class="relative bg-cover bg-center bg-no-repeat pt-16 pb-24 md:pb-36 lg:pb-44 text-center text-white"
  style={`background-image: url(${urlFor(backgroundImage).url()})`}
>
  <div class="absolute inset-0 bg-black/20"></div>
  <div class="container relative z-10 mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="h2-base max-w-2xl mx-auto mb-16">{title}</h2>

    <div class="grid grid-cols-1 gap-16 md:grid-cols-3 md:gap-8">
      {cards.map((card, index) => (
        <div class="relative rounded-lg bg-white p-6 pt-12 text-custom-specific-blue shadow-lg">
          <div class="absolute -top-5 md:-top-7 left-1/2 -translate-x-1/2 transform mb-4">
            <Image src={cardIcons[index]} alt={`Paso ${index + 1}`} class="h-10 w-10 md:h-14 md:w-14 object-contain" />
          </div>
          <p class="p-base">{card.description}</p>
        </div>
      ))}
    </div>
  </div>

  {bottomIcon && (
    <div class="absolute -bottom-8 md:-bottom-14 lg:-bottom-20 left-1/2 w-full -translate-x-1/2 transform px-4">
      <div class="mx-auto w-16 h-16 md:w-28 md:h-28 lg:w-40 lg:h-40">
        <SanityImage image={bottomIcon} alt="Icono decorativo" sizes="(max-width: 767px) 64px, (max-width: 1023px) 112px, 160px" />
      </div>
    </div>
  )}
</section>

