---
// src/components/CustomBannerWithCards.astro
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Card {
  icon: ImageMetadata;
  iconAlt: string;
  description: string;
}

interface Props {
  title: string;
  subtitle?: string;
  backgroundImage: ImageMetadata;
  cards: Card[];
  bottomText?: string;
}

const {
  title,
  subtitle,
  backgroundImage,
  cards,
  bottomText,
} = Astro.props;
---

<section
  class="relative bg-cover bg-center bg-no-repeat pt-16 pb-24 md:pb-36 lg:pb-44 text-center text-white"
>
  <Image
    src={backgroundImage}
    alt="Fondo del banner"
    class="absolute inset-0 w-full h-full object-cover"
    loading="lazy"
    quality={80}
  />
  <div class="absolute inset-0 bg-black/40"></div>
  <div class="container relative z-10 mx-auto px-6 sm:px-8 lg:px-12">
    <h2 class="h2-base max-w-3xl mx-auto mb-4" set:html={title} />
    {subtitle && <h3 class="h3-base max-w-3xl mx-auto mb-16">{subtitle}</h3>}

    <div class="grid grid-cols-1 gap-16 md:grid-cols-3 md:gap-6 lg:gap-8">
      {cards.map((card, index) => (
        <div class="relative rounded-lg bg-white p-6 pt-12 text-custom-specific-blue shadow-lg flex flex-col">
          <div class="absolute -top-8 md:-top-10 left-1/2 -translate-x-1/2 transform">
            <Image
              src={card.icon}
              alt={card.iconAlt}
              class="h-16 w-16 md:h-20 md:w-20 object-contain"
              loading="lazy"
            />
          </div>
          <p class="p-base flex-grow">{card.description}</p>
        </div>
      ))}
    </div>

    {bottomText && (
      <p class="p-base font-semibold max-w-4xl mx-auto mt-16">
        {bottomText}
      </p>
    )}
  </div>
</section>
