---
// src/components/RichTextSection.astro
import { PortableText } from 'astro-portabletext';

const {
  title,
  content, // El objeto de Portable Text
  backgroundColor = 'bg-white',
  textColor = 'text-custom-specific-blue',
} = Astro.props;

const components = {
  // Aquí se pueden personalizar los componentes de renderizado si es necesario
  // Por ejemplo, para los encabezados, listas, etc.
};
---

<section class={`pt-16 md:pt-24 lg:pt-32 pb-16 ${backgroundColor} ${textColor}`}>
  <div class="container mx-auto max-w-4xl text-lg px-6 sm:px-8 lg:px-12">
    {title && <h2 class="h2-base text-center">{title}</h2>}
    <div class="prose lg:prose-xl max-w-none">
      <PortableText value={content} components={components} />
    </div>
  </div>
</section>
