---
// src/components/RichTextSection.astro
import { PortableText } from 'astro-portabletext';

const {
  title,
  content, // El objeto de Portable Text
  backgroundColor = 'bg-white',
  textColor = 'text-custom-specific-blue',
  paddingTopClass = 'pt-16 md:pt-24 lg:pt-32', // Default padding top
  paddingBottomClass = 'pb-16', // Default padding bottom
  textAlign = 'text-left', // Default text alignment
} = Astro.props;

const components = {
  // Aquí se pueden personalizar los componentes de renderizado si es necesario
  // Por ejemplo, para los encabezados, listas, etc.
};
---

<section class={`${paddingTopClass} ${paddingBottomClass} ${backgroundColor} ${textColor}`}>
  <div class={`container mx-auto max-w-4xl text-lg px-8 sm:px-10 md:px-16 lg:px-20 xl:px-24 2xl:px-28 ${textAlign}`}>
    {title && <h2 class="h2-base text-center">{title}</h2>}
    <div class="prose lg:prose-xl max-w-none">
      <PortableText value={content} components={components} />
    </div>
  </div>
</section>
