---
// src/components/EncuentroCard.astro
import { Picture, Image, type ImageMetadata } from 'astro:assets';

interface Props {
  image?: ImageMetadata | string; // Acepta imagen local o URL remota
  imageAlt?: string;
  icon: ImageMetadata;
  iconAlt?: string;
  title: string;
  width?: number; // Requerido para imágenes remotas
  height?: number; // Requerido para imágenes remotas
}

const { image, imageAlt, icon, iconAlt = "Icono representativo de NAU", title, width, height } = Astro.props;
---
<div class="relative flex flex-col rounded-lg shadow-md text-custom-darker-teal">
  <!-- Imagen de cabecera de la tarjeta -->
  {image && (
    <Picture
      src={image}
      alt={imageAlt || title}
      width={width}
      height={height}
      class="w-full h-auto rounded-t-lg"
      widths={[400, 600, 850]}
      sizes="(max-width: 767px) 90vw, (max-width: 1024px) 45vw, 850px"
      formats={['avif', 'webp']}
    />
  )}

  <!-- Icono posicionado en la parte superior de la tarjeta -->
  <Image 
    src={icon} 
    alt={iconAlt}
    class="absolute top-0 right-8 -translate-y-1/2 w-auto h-12 md:h-16 z-10"
    loading="lazy"
  />

  <!-- Contenido textual de la tarjeta con padding propio -->
  <div class="bg-custom-frosty-teal p-6 md:p-8 rounded-b-lg flex-grow">
    <h3 class="text-2xl font-semibold mb-3 text-custom-specific-blue">{title}</h3>
    <hr class="border-t-4 border-custom-gray-blue mb-6 md:mb-8">
    <slot />
  </div>
</div>