---
// src/components/FeatureCard.astro
import { Image } from "astro:assets";
import SanityImage from "./SanityImage.astro";
import type { Image as SanityImageType } from 'sanity';
import type { ImageMetadata } from "astro";

interface Props {
  icon: SanityImageType | ImageMetadata;
  iconAlt?: string;
  title: string;
  link?: string;
  linkText?: string;
}

const {
  icon,
  iconAlt = "Icono decorativo",
  title,
  link,
  linkText = "Conoce más",
} = Astro.props;

const isLocalImage = 'src' in icon;
---

<div class="relative bg-white p-6 pt-10 md:p-8 md:pt-12 rounded-lg text-custom-darker-teal flex flex-col items-center">
  <div
    class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-auto z-10"
  >
    {isLocalImage ? (
      <Image
        src={icon as ImageMetadata}
        alt={iconAlt}
        width={40}
        height={40}
        class="md:w-32 md:h-32"
        loading="lazy"
      />
    ) : (
      <SanityImage
        image={icon as SanityImageType}
        alt={iconAlt}
        width={40}
        class="md:w-32 md:h-32"
        loading="lazy"
        noShadow={true}
      />
    )}
  </div>
  <h3 class="text-2xl font-semibold mt-4 md:mt-8 mb-3 text-custom-darker-teal">
    {title}
  </h3>
  <slot />
  {
    link ? (
      <a
        href={link}
        class="inline-block bg-custom-dark-teal text-white font-semibold py-2 px-6 rounded-md hover:bg-gray-100 hover:text-custom-dark-teal transition duration-300"
      >
        {linkText}
      </a>
    ) : (
      <span class="inline-block bg-custom-dark-teal text-white font-semibold py-2 px-6 rounded-md transition duration-300 self-start opacity-50 cursor-not-allowed">
        {linkText}
      </span>
    )
  }
</div>