---
// src/components/SimbolismoNumericoCard.astro
import SanityImage from './SanityImage.astro';
import { Image } from 'astro:assets';
import { PortableText } from 'astro-portabletext';
import IconPlus from './icons/IconPlus.astro';
import IconMinus from './icons/IconMinus.astro';
import type { Image as SanityImageType } from 'sanity';
import type { ImageProps } from 'astro:assets';

interface Props {
  image: SanityImageType;
  imageAlt?: string;
  icon: ImageProps['src'];
  iconAlt?: string;
  title: string;
  description: any[]; // Contenido de Portable Text
}

const { image, imageAlt, icon, iconAlt = "Icono representativo de NAU", title, description } = Astro.props;
---
<div class="relative flex flex-col rounded-lg text-custom-darker-teal">
  <!-- Imagen de cabecera de la tarjeta -->
  {image && (
    <SanityImage 
      image={image} 
      alt={imageAlt || title} 
      sizes="(max-width: 767px) 90vw, (max-width: 1024px) 45vw, 850px"
      class="w-full h-auto rounded-t-lg"
    />
  )}

  <!-- Icono posicionado en la parte superior de la tarjeta -->
  <Image 
    src={icon} 
    alt={iconAlt}
    class="absolute top-0 right-8 -translate-y-1/2 w-auto h-12 md:h-16 z-10"
    loading="lazy"
  />

  <!-- Contenido textual de la tarjeta con padding propio -->
  <div class="bg-custom-frosty-teal p-6 md:p-8 rounded-b-lg flex-grow">
    <h3 class="text-2xl font-semibold mb-3 text-custom-specific-blue">{title}</h3>
    <hr class="border-t-4 border-custom-gray-blue mb-6 md:mb-8">
    
    <!-- Acordeón -->
    <div class="accordion-item">
      <button class="accordion-toggle flex justify-between items-center w-full text-left">
        <span class="text-lg font-semibold text-custom-darker-teal">Ver descripción</span>
        <IconPlus class="accordion-icon-plus w-6 h-6" />
        <IconMinus class="accordion-icon-minus w-6 h-6 hidden" />
      </button>
      <div class="accordion-content hidden mt-4">
        <div class="prose max-w-none">
          <PortableText value={description} />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.accordion-toggle').forEach(button => {
    button.addEventListener('click', () => {
      const content = button.nextElementSibling;
      const iconPlus = button.querySelector('.accordion-icon-plus');
      const iconMinus = button.querySelector('.accordion-icon-minus');

      if (content && iconPlus && iconMinus) {
        content.classList.toggle('hidden');
        iconPlus.classList.toggle('hidden');
        iconMinus.classList.toggle('hidden');
      }
    });
  });
</script>
